

html {font-size: 100%; }

.contenedor {width: 85%;
    height: auto;}

.centrado {margin: 0;}

.borde {min-height: 0.4rem solid red;}


header {width: 100%;
        min-height: 15rem;
    background-color: rgb(72 ,69,69);}

nav {min-height: 6rem;
    background-color:  rgb(239, 121, 42);}

.content {min-height: 40rem;
              background-color: brown;}

footer {min-height: 12rem;
                     background-color: rgb(72 ,69,69);}