

html {font-size: 100%; }

.contenedor {width: 85%;
    height: auto;}

.centrado {margin: 0;}

.border {min-height: 0.4rem solid red;}


header {width: 100%;
        min-height: 15rem;
        background-color: rgb(72 ,69,69);}

nav {min-height: 6rem;
    background-color:  rgb(239, 121, 42);}

    .carrusel {min-height: 25rem;
        background-color: pink;
        background-image: url("../../img-sitio/maqueta.jpg");
        background-size: 80%;
          display: flex;
        justify-content: center;
     align-items: center; 
    }


.carrusel h1{color: azure;
           font-size: 2.4rem;
        margin-top: 2.5rem;}


.content {min-height: 40rem;
          background-color: brown;
       display: flex; }

main{width: 60%;
     min-height: 40rem;
     background-color: darkorange;
   }

aside{ width: 40%;
    min-height: 40rem;
    background-color: chartreuse;}

footer {min-height: 12rem;
        background-color: rgb(72 ,69,69);}